#background {
    -fx-border-style : solid;
    -fx-background-image: url("../Image/bgMain.jpg");
    -fx-border-width: 3px;
    -fx-background-position: center center;
    -fx-background-repeat : no-repeat;
    -fx-background-size: cover;
    -fx-background-attachment : fixed;
}

/* Ensure that disabled text boxes have a white background */
.text-field:disabled,
.choice-box:disabled,
.date-picker:disabled {
    -fx-background-color: white;
    -fx-opacity: 1; /* Remove the default dimming effect */
}